{% extends 'base.html' %}


{% block title %}

{{category.name}} News | News Punch 24

{% endblock %}


{% block content %}


<div class="container mt-4">


    <h1 class="section-title">

        {{category.name}} News

    </h1>


    <div class="row mt-4">


        {% for item in news %}


        <div class="col-md-4 mb-4">


            <div class="card-news">


                <a href="{{item.get_absolute_url}}">


                    <img src="{{item.image.url}}"
                         class="w-100">


                </a>


                <div class="p-3">


                    <h4>

                        {{item.title}}

                    </h4>


                    <p>

                        {{item.short_description|truncatechars:120}}

                    </p>


                    <small>

                        {{item.created_at|date:"d M Y"}}

                    </small>


                </div>


            </div>


        </div>


        {% empty %}


        <h3>
            No News Available
        </h3>


        {% endfor %}


    </div>


</div>


{% endblock %}